@model Projeto_Eixo_2.Models.Cobrador

@{
    ViewData["Title"] = "Details";
}

<h1>Perfil</h1>

<div class="container" style="background-color: #fff;">


    <dd class="row ml-3" id="cinza">
        @Html.DisplayNameFor(model => model.NomeCobrador)
    </dd>
    <dd class="row ml-3">
        @($"{Model.NomeCobrador} {Model.SobrenomeCobrador}")
    </dd>
    <dd class="row ml-3" id="cinza">
        @Html.DisplayNameFor(model => model.CPF)
    </dd>
    <dd class="row ml-3">
        @Html.DisplayFor(model => model.CPF)
    </dd>
    <dd class="row ml-3" id="cinza">
        @Html.DisplayNameFor(model => model.Email)
    </dd>
    <dd class="row ml-3">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dd class="row ml-3" id="cinza">
        @Html.DisplayNameFor(model => model.Telefone)
    </dd>
    <dd class="row ml-3">
        @Html.DisplayFor(model => model.Telefone)
    </dd>


</div>

<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.Id">Editar perfil</a>
</div>

<style>
    .container{

        border-radius: 15px;


    #cinza{
        color: #B8C5D0;
        font-size: 14px;
    }
    dd{
        font-size: 20px;
    }
</style>