@model Projeto_Eixo_2.Models.Cobranca

@{
    ViewData["Title"] = "Deletar";
}
<script>
    let obj = JSON.parse(sessionStorage.getItem('Modal'))
    if (!obj.isCobrancaSelected) {
        obj = {
            isClienteSelected: false,
            isCobrancaSelected: true
        }

        sessionStorage.setItem('Modal', JSON.stringify(obj))
    }
</script>


<div class="p-4">
    <div class="column d-flex justify-content-center">
        <div class="mb-3 justify-content-center align-content-sm-center" style="background-color: white; border-radius: 20px; padding: 50px; margin-top: 40px; width: 700px">
            <h1 class="title mr-3">Tem certeza que deseja deletar?</h1>
            <dl class="row">
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Data)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Data)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Vencimento)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Vencimento)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Valor)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Valor)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Cliente)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Cliente.NomeCliente) @Html.DisplayFor(model => model.Cliente.SobrenomeCliente)
                </dd>

            </dl>
            <div class="d-md-inline-flex">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> 
                    <button onclick="location.href='@Url.Action("Details", "Cobradores", new {id = Model.CobradorId})'" style="border-radius: 5px; margin-right: 10px; padding: 6px 12px;" class="btn btn-primary">Voltar</button>
                </form>
            </div>
        </div>

    </div>
</div>
<style>
    body {
        background-color: #1090CB1A;
    }
</style>