@model Projeto_Eixo_2.Models.Cliente

@{
    ViewData["Title"] = "Deletar";
}

<script>
    let obj = JSON.parse(sessionStorage.getItem('Modal'))
    if (!obj.isClienteSelected) {
        obj = {
            isClienteSelected: true,
            isCobrancaSelected: false
        }

        sessionStorage.setItem('Modal', JSON.stringify(obj))
    }
</script>


<div class="p-4">
    <div class="column d-flex justify-content-center">
        <div class="mb-3 justify-content-center align-content-sm-center" style="background-color: white; border-radius: 20px; padding: 50px; margin-top: 40px; width: 700px">
            <h1 class="title mr-3">Tem certeza que deseja deletar?</h1>
            <h5 class="title mr-3 mt-3 mb-5" style="color: darkred"> <strong>Essa ação removerá todas as cobranças de @Html.DisplayFor(model => model.NomeCliente) </strong></h5>

            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NomeCliente)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NomeCliente)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.SobrenomeCliente)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SobrenomeCliente)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CPFCliente)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CPFCliente)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Endereco)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Endereco)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Bairro)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Bairro)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Cidade)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Cidade)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.UF)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UF)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.TelefoneCliente)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TelefoneCliente)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Cobrador)
                </dt>
                <dd class="col-sm-9">
                    @($"{Model.Cobrador.NomeCobrador} {Model.Cobrador.SobrenomeCobrador}")
                </dd>
            </dl>
            <div class="d-md-inline-flex">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
                <button onclick="location.href='@Url.Action("Details", "Cobradores", new {id = Model.CobradorId})'" style="border-radius: 5px; margin-left: 10px; padding: 6px 12px;" class="btn btn-primary">Voltar</button>

            </div>
        </div>

    </div>
</div>
    
<style>
    body {
        background-color: #1090CB1A;
    }
</style>