@model Projeto_Eixo_2.Models.Cliente

@{
    ViewData["Title"] = "Details";
}


<div class="p-4">
    <h4 mb-3>Cliente</h4>
   
    <div class="row mb-3">
        <button onclick="location.href='@Url.Action("Details", "Cobradores", new {id = Model.CobradorId})'" class="btn btn-primary">Voltar</button>
        <button onclick="location.href='@Url.Action("Edit", "Clientes", new {id = Model.Id})'" class="btn btn-sucess">Editar</button>
    </div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SobrenomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SobrenomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPFCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPFCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cobrador)
        </dt>
        <dd class = "col-sm-10">
            @($"{Model.Cobrador.NomeCobrador} {Model.Cobrador.SobrenomeCobrador}")
        </dd>
    </dl>
</div>

<style>
    body {
        background-color: white;
    }
</style>